[submodule "arb"]
	path = arb/lib/arb
	url = https://github.com/fredrik-johansson/arb.git
[submodule "flint2"]
	path = flint2/lib/flint2
	url = https://github.com/wbhart/flint2.git
[submodule "antic"]
	path = antic/lib/antic
	url = https://github.com/wbhart/antic.git
[submodule "calcium"]
	path = calcium/calcium
	url = https://github.com/fredrik-johansson/calcium.git
