[submodule "arb"]
	path = arb/arb
	url = https://github.com/bobot/arb.git
[submodule "flint2"]
	path = flint/flint/flint2
	url = https://github.com/bobot/flint2.git
[submodule "antic"]
	path = antic/antic/antic
	url = https://github.com/bobot/antic.git
[submodule "calcium"]
	path = calcium/lib/calcium
	url = https://github.com/bobot/calcium.git
